/*
* Oink
* Copyright Oink Bank 2013
* www.oinkbank.co
*/
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/oink.scss */
body {
  font-size: 0.9em;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
}

/* line 21, ../sass/oink.scss */
a, a:visited {
  text-decoration: none;
  outline: 0;
}

/* line 25, ../sass/oink.scss */
a:hover, a:focus {
  text-decoration: underline;
}

/* line 26, ../sass/oink.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 24px 0;
  color: #454545;
}

/* line 30, ../sass/oink.scss */
h1, h2 {
  margin: 0 0 32px 0;
}

/* line 31, ../sass/oink.scss */
h5, h6 {
  margin: 0 0 20px 0;
}

/* line 32, ../sass/oink.scss */
h1 {
  font-size: 3em;
}

/* 42px */
/* line 33, ../sass/oink.scss */
h2 {
  font-size: 2.5em;
}

/* 36px */
/* line 34, ../sass/oink.scss */
h3 {
  font-size: 2em;
}

/* 28px */
/* line 35, ../sass/oink.scss */
h4 {
  font-size: 1.7em;
}

/* 24px */
/* line 36, ../sass/oink.scss */
h5 {
  font-size: 1.4em;
}

/* 20px */
/* line 37, ../sass/oink.scss */
h6 {
  font-size: 1.1em;
}

/* 16px */
/* line 38, ../sass/oink.scss */
p {
  margin: 0 0 24px 0;
  font-size: 1.4em;
}

/* line 39, ../sass/oink.scss */
strong {
  font-weight: 700;
}

/* line 40, ../sass/oink.scss */
i {
  font-style: italic;
}

/* line 42, ../sass/oink.scss */
img {
  max-width: 100%;
  height: auto;
}

/*
* Get Structure
* Copyright Ace Eight of Spades 2013
* www.aceeightofspades.com/get-structure
*/
/*
* Oink
* Copyright Oink Bank 2013
* www.oinkbank.co
*/
/*
* Oink
* Copyright Oink Bank 2013
* www.oinkbank.co
*/
/*
* Oink
* Copyright Oink Bank 2013
* www.oinkbank.co
*/
/* line 13, ../sass/_forms.scss */
input[type="text"], input[type="email"],
input[type="search"], input[type="password"],
input[type="tel"], input[type="url"],
textarea, select {
  border-radius: 3px;
  border: 1px solid #BBB;
  color: #777;
  font-size: 0.8em;
  line-height: 1;
  margin: 0 0 10px 0;
  outline: none;
  padding: 7px 8px 8px 8px;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../sass/_forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
}

/* line 29, ../sass/_forms.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* line 31, ../sass/_forms.scss */
button {
  background: #FFF;
  border-radius: 3px;
  border: 1px solid #BBB;
  color: #666;
  cursor: pointer;
  display: block;
  height: 16px;
  padding: 7px;
  width: 16px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 42, ../sass/_forms.scss */
button:hover {
  background: #999;
}

/*
* Oink
* Copyright Oink Bank 2013
* www.oinkbank.co
*/
/* line 61, ../sass/oink.scss */
.hide {
  display: none !important;
  visibility: hidden;
}

/* line 66, ../sass/oink.scss */
.visualhide {
  border: 0;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 78, ../sass/oink.scss */
.invisible {
  visibility: hidden;
}

/* line 83, ../sass/oink.scss */
body {
  font-family: 'Open Sans', sans-serif;
  background: #F5F5F5;
  padding-top: 0;
}

/* line 89, ../sass/oink.scss */
header {
  background: #FFF;
  border-top: 4px solid #005878;
  border-bottom: 1px solid #CCC;
  -moz-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.03);
  height: 59px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

/* line 102, ../sass/oink.scss */
a.user {
  background: inherit;
  border-right: 1px solid #DDD;
  display: block;
  float: left;
  padding: 14px 15px 13px 15px;
  width: 22%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 110, ../sass/oink.scss */
a.user:hover {
  background-color: #ededed;
  background-image: -webkit-linear-gradient(top, white, #ededed);
  background-image: -moz-linear-gradient(top, white, #ededed);
  background-image: -ms-linear-gradient(top, white, #ededed);
  background-image: -o-linear-gradient(top, white, #ededed);
}
/* line 113, ../sass/oink.scss */
a.user img {
  background: #666;
  border-radius: 3px;
  float: left;
  height: 32px;
  margin: 0 15px 0 0;
  width: 32px;
}
/* line 121, ../sass/oink.scss */
a.user detail {
  float: left;
  height: 32px;
  overflow: hidden;
}
/* line 125, ../sass/oink.scss */
a.user detail h6 {
  color: #454545;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  vertical-align: middle;
}
/* line 132, ../sass/oink.scss */
a.user detail h6 span.admin {
  background: #999;
  border-radius: 2px;
  color: #FFF;
  display: inline-block;
  font-size: 0.6em;
  height: 12px;
  line-height: 12px;
  margin: 1px 0 0 6px;
  width: 12px;
  text-align: center;
  vertical-align: top;
}
/* line 146, ../sass/oink.scss */
a.user detail company {
  color: #999;
  font-size: 0.7em;
}

/* line 152, ../sass/oink.scss */
tools {
  border-right: 1px solid #DDD;
  float: left;
  height: 100%;
  padding: 14px 15px;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 159, ../sass/oink.scss */
tools belt {
  display: block;
  height: 32px;
}
/* line 162, ../sass/oink.scss */
tools belt search {
  background: #FFF;
  border: 1px solid #BBB;
  border-radius: 3px;
  color: #777;
  float: left;
  height: 30px;
  margin: 0;
  position: relative;
  width: 200px;
  z-index: 4444;
}
/* line 173, ../sass/oink.scss */
tools belt search button {
  border: none;
  border-radius: 3px 0 0 3px;
  border-right: 1px solid #BBB;
  float: none;
  left: 0;
  padding: 3px;
  position: absolute;
  z-index: 5555;
}
/* line 183, ../sass/oink.scss */
tools belt search input[type="text"] {
  background: inherit;
  border: none;
  height: 30px;
  left: 40px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 160px;
}
/* line 194, ../sass/oink.scss */
tools belt select {
  float: right;
  margin-bottom: 0;
}
/* line 198, ../sass/oink.scss */
tools belt btngroup {
  float: right;
  margin: 0 10px 0 0;
}
/* line 201, ../sass/oink.scss */
tools belt btngroup button {
  border-radius: 0;
}
/* line 203, ../sass/oink.scss */
tools belt btngroup button.first {
  border-right: 0;
  border-radius: 4px 0 0 4px;
}
/* line 204, ../sass/oink.scss */
tools belt btngroup button.last {
  border-left: 0;
  border-radius: 0 4px 4px 0;
}
/* line 207, ../sass/oink.scss */
tools belt button {
  background-color: #ededed;
  background-image: -webkit-linear-gradient(top, white, #ededed);
  background-image: -moz-linear-gradient(top, white, #ededed);
  background-image: -ms-linear-gradient(top, white, #ededed);
  background-image: -o-linear-gradient(top, white, #ededed);
  color: #666;
  float: right;
  font-size: 1.2em;
  height: 24px;
  margin: 0;
  padding: 3px;
  width: 24px;
}
/* line 216, ../sass/oink.scss */
tools belt button:hover {
  background: #FFF;
}
/* line 220, ../sass/oink.scss */
tools belt:after {
  content: "";
  display: table;
  clear: both;
}

/* line 228, ../sass/oink.scss */
content {
  background: #F5F5F5;
  height: 100%;
  padding: 64px 0 50px 0;
  position: absolute;
  width: 100%;
}

/* line 235, ../sass/oink.scss */
navbar {
  border-right: 1px solid #DDD;
  height: 100%;
  left: 0;
  position: fixed;
  width: 22%;
  z-index: 3333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 243, ../sass/oink.scss */
navbar balance {
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #DDD;
  color: #333;
  display: block;
  font-size: 2.25em;
  line-height: 40px;
  height: 40px;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  background-color: #ededed;
  background-image: -webkit-linear-gradient(top, whitesmoke, #ededed);
  background-image: -moz-linear-gradient(top, whitesmoke, #ededed);
  background-image: -ms-linear-gradient(top, whitesmoke, #ededed);
  background-image: -o-linear-gradient(top, whitesmoke, #ededed);
}
/* line 256, ../sass/oink.scss */
navbar ngroup {
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #DDD;
  color: #AAA;
  display: block;
  font-size: 0.7em;
  font-weight: 700;
  line-height: 16px;
  height: 32px;
  padding: 8px 15px;
  text-shadow: 0 1px 0 #FFF;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 271, ../sass/oink.scss */
navbar ul {
  padding: 0;
  margin: 0;
}
/* line 274, ../sass/oink.scss */
navbar ul li a {
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #DDD;
  color: #454545;
  display: block;
  font-size: 1em;
  line-height: 24px;
  height: 24px;
  padding: 15px;
  vertical-align: top;
}
/* line 284, ../sass/oink.scss */
navbar ul li a:hover {
  background: #EDEDED;
  text-decoration: none;
}
/* line 288, ../sass/oink.scss */
navbar ul li a span {
  border-radius: 3px;
  color: #666;
  display: inline-block;
  font-size: 16px;
  height: 24px;
  margin: 0 15px 0 0;
  width: 24px;
}
/* line 297, ../sass/oink.scss */
navbar ul li a img {
  border-radius: 3px;
  display: inline-block;
  height: 24px;
  margin: 0 15px 0 0;
  width: 24px;
}

/* line 307, ../sass/oink.scss */
section {
  border-right: 1px solid #DDD;
  border-left: 1px solid #FFF;
  height: 100%;
  left: 22%;
  position: absolute;
  width: 50%;
  z-index: 3333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 317, ../sass/oink.scss */
sidebar {
  border-left: 1px solid #FFF;
  height: 100%;
  padding: 40px 15px 15px 15px;
  position: fixed;
  right: 0;
  width: 28%;
  z-index: 3333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 326, ../sass/oink.scss */
sidebar h3 {
  margin: 0 0 10px 0;
}
/* line 327, ../sass/oink.scss */
sidebar date {
  color: #666;
  display: block;
  margin: 0 0 20px 0;
}
/* line 332, ../sass/oink.scss */
sidebar p {
  color: #999;
  font-size: 1em;
  margin: 0 0 20px 0;
}
/* line 337, ../sass/oink.scss */
sidebar ul.tag {
  height: 11px;
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
}
/* line 342, ../sass/oink.scss */
sidebar ul.tag li {
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 10px;
  color: #999;
  display: inline;
  font-size: 0.7em;
  margin: 0 3px 0 0;
  padding: 2px 6px;
}
/* line 353, ../sass/oink.scss */
sidebar location {
  background: #999;
  display: block;
  height: 160px;
  margin: 0 0 30px 0;
  width: 100%;
}

/* line 362, ../sass/oink.scss */
footer {
  background: #CCC;
  bottom: 0;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

/* line 373, ../sass/oink.scss */
ul.transactions {
  list-style: none;
  margin: 0;
  padding: 15px;
}
/* line 377, ../sass/oink.scss */
ul.transactions li a {
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  -moz-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.03);
  display: block;
  margin: 0 0 10px 0;
  overflow: hidden;
  padding: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 390, ../sass/oink.scss */
ul.transactions li a:hover {
  background-color: #f9f9f9;
  background-image: -webkit-linear-gradient(top, white, #f9f9f9);
  background-image: -moz-linear-gradient(top, white, #f9f9f9);
  background-image: -ms-linear-gradient(top, white, #f9f9f9);
  background-image: -o-linear-gradient(top, white, #f9f9f9);
  border-color: #BBB;
  text-decoration: none;
}
/* line 396, ../sass/oink.scss */
ul.transactions img {
  background: #666;
  border-radius: 3px;
  float: left;
  height: 40px;
  margin: 0 12px 0 0;
  width: 40px;
}
/* line 404, ../sass/oink.scss */
ul.transactions date {
  color: #999;
  float: left;
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1.2;
  height: 38px;
  padding: 2px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  width: 30px;
}
/* line 415, ../sass/oink.scss */
ul.transactions date span {
  font-size: 1.8em;
}
/* line 417, ../sass/oink.scss */
ul.transactions detail {
  float: left;
  line-height: 1.2;
  height: 40px;
  margin: 0 20px 0 12px;
  max-width: 38%;
}
/* line 423, ../sass/oink.scss */
ul.transactions detail h6 {
  font-weight: 700;
  margin: 0 0 4px 0;
}
/* line 424, ../sass/oink.scss */
ul.transactions detail i {
  color: #999;
}
/* line 426, ../sass/oink.scss */
ul.transactions ul.tag {
  float: right;
  height: 11px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 10px 0;
}
/* line 433, ../sass/oink.scss */
ul.transactions ul.tag li {
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 10px;
  color: #999;
  display: inline;
  font-size: 0.7em;
  margin: 0 3px 0 0;
  padding: 2px 6px;
}
/* line 444, ../sass/oink.scss */
ul.transactions h5.amount {
  float: right;
  font-weight: 700;
  line-height: 40px;
  margin: 0 0 0 20px;
  text-align: right;
  width: 20%;
}
/* line 451, ../sass/oink.scss */
ul.transactions h5.amount.deposit {
  color: #A5CC59;
}
/* line 452, ../sass/oink.scss */
ul.transactions h5.amount.withdraw {
  color: #BF0738;
}

/* line 460, ../sass/oink.scss */
.clear:after {
  content: "";
  display: table;
  clear: both;
}
